body {
    margin: 0;
    background: #070612;
    font-family: sans-serif;
    animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
* {
    box-sizing: border-box;
    transition:  all ease 0.4s;
}

.div {
    padding: 10px;
}

/*----Navbar----*/
#header {
  background: #121121;
  font-family: georgia;
  position: fixed;
  width: 100%;
  top: 0;
}
#header * {
  transition: ease all 0.3s;
}
#header .name a {
  font-size: 25px;
}
#header .links, #header .name {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#header li {
  display: inline-block;
  padding: 10px;
}
.active-nav {
  background: #e37302;
}
#header  a {
  display: block;
  font-size: 18px;
  padding: 5px 15px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 20px;
  color: white;
}
#header ul a:hover {
  border: 1px solid #a15100;
}
#header ul a:active {
  background: #e37302;
}

#header .line {
  height: 5px;
  overflow: hidden;
}
#header .line div {
  position: absolute;
  height: 5px;
  width: 100px;
  border-radius: 10px;

}
#header .line div:nth-child(1) {
  background: #e37302;
  animation-timing-function: ease-in-out;
  animation: line infinite 3s;
  right: 0px;
}
#header .line div:nth-child(2) {
  background: #e37302;
  animation-timing-function: ease-in-out;
  animation: line infinite 5s;
}

@keyframes line {
  0% {  
  	left:  0%;
 	width: 10%;
  }
  50% {
  	left:  50%;
 	width: 50%;
  }
  100% {
  	left: 0%;
 	width: 10%;
  }
}

/* header end */

main {
    margin-top: 60px;
    min-height: 100vh;
}

main div a {
    color: #e37302;
}

main div {
    background: #0b091c;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

/* footer */

footer {
    background: #121121;
    color: white;
}

/* media queries */

@media only screen and (max-width: 432px) {
    #header .links {
        text-align: center;
        display: block;
    }
    #header .links a {
        padding: 5px 8px;
    }
    #header .name {
        display: block;
        text-align: center;
    }
    
    main {
        margin-top: 110px;
    }
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 6px;
 }
/* Handle */
::-webkit-scrollbar-thumb {
background: #e37302;
border-radius: 10px;
}
