body {
    margin: 0;
    background: rgb(65, 70, 73);
    font-family: sans-serif;
    animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
* {
    box-sizing: border-box;
    transition:  all ease 0.4s;
}

.div {
    padding: 10px;
}

/*----Navbar----*/

#navbar {
    background: #d7dcf1;
    position: fixed;
    overflow: auto;
    width: 100%;
    top: 0;
    box-shadow: 0 5px 5px rgba(8, 8, 8, 0.5);
}
#navbar > * {
    display: inline-block;
}
#navbar * {
    color: black;
    font-size: 17px;
    text-decoration: none;
}
#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}
#navbar li {
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
#navbar li:hover {
    background: rgb(255, 255, 255);
}
#navbar li.active {
    background: rgb(190, 195, 214);
}
#avatar img {
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
}
#avatar {
    position: relative;
    cursor: pointer;
}
main {
    margin-top: 55px;
    min-height: 100vh;
}
main div {
    background: #d7dcf1;
    border-radius: 8px;
    color: black;
    padding: 10px;
}

footer {
    background: #d7dcf1;
    color: black;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d7dcf1;
    border-radius: 10px;
  }